/* last-declared properties/values win */
/* alphabetize declarations (google-style recommendation) */

/* style by tag */
body {
  background: #002020;  /* dark green */
  color: #AAFFAA;  /* mint green */
  font: 20px Garamond, Verdana, Arial;
}

form { padding: 25px 0 30px; }

/* style by id */
#tidyButton0 { visibility: hidden; }

/* style by class */
.sidebar {
  background-color: #2E8B57;  /* less-mint green */
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 35px;
  z-index: 1;
}

.main { margin-left: 60px; }

.formText {
  background-color: #153535;  /* less-dark green */
  border: 3px solid #2E8B57;
  color: #AAFFAA;
  font: 20px Garamond, Verdana, Arial;
}

.list {
  background-color: #153535;
  border-left: dashed #2E8B57;
  cursor: pointer;
  /* padding: 10px 14px 50px 11px; */
  padding: 10px 0 50px;
  width: 277px;
}

.listHead {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 0 9px 14px; /* top right bottom left */
  text-decoration: underline;
}

.item { padding: 3px 17px 3px 14px; }

/* style by action */
input:focus {
  box-shadow: 0 0 2pt 1pt #AAFFAA;
  outline: 1px solid #AAFFAA;
}

input[type="submit"]:hover { cursor: pointer; }

input[type="button"]:hover { cursor: pointer; }

div.item:hover { background-color: #002020; }


